{% extends 'base.html.twig' %}

{% block title %}New Montage{% endblock %}

{% block body %}
    <h1>Create new Montage</h1>

    {{ include('montage/_form.html.twig') }}

    <a href="{{ path('app_montage_index') }}">back to list</a>
{% endblock %}
