{% extends 'base.html.twig' %}

{% block title %}New Canne{% endblock %}

{% block body %}
    <h1>Create new Canne</h1>

    {{ include('canne/_form.html.twig') }}

    <a href="{{ path('app_canne_index') }}">back to list</a>
{% endblock %}
